<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>COVID Mutual Aid</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>

    <!-- The wrapper and content divs set margins and positioning -->
    <div class="wrapper">
      <div class="content" role="main">
        <!-- This is the start of content for our page -->
        <div id="title">COVID MUTUAL AID</div>

        <div id="logo">
          <img
            src="https://cdn.glitch.global/21418471-1c59-43d1-9488-e1adfcf05ee9/D972EFE1-9009-4331-B7F3-A0E55FB943B0_4_5005_c-removebg-preview.png?v=1668358678369"
            class="illustration"
            alt="Editor illustration"
            height="400px"
            width="400px"
          />
        </div>
        <!-- Instructions on using this project -->
        <div class="instructions">
          <h2>
            Using this page
          </h2>
          <p>
             Begin by selecting one of the two options below that applies to you in order to be guided to the next steps! 
          </p>
          
          <button id="requester">
            I am a requester!
          </button>
          
          <a href="volunteer">
             <button id="volunteer">
              I am a volunteer!
            </button>
          </a>
          
          <div id="chatbot">
            <div id="reqForm">
              <br>
              <form method="GET" action="postrequest">
                 
              <div id="phoneNum">
                  <label for="phoneNum">Type in your phone number:</label><br>
                  <br>
                  <input name="phoneNum" placeholder="Phone Number"><br>
                  <br>
                  <label for="dorm">Type in your dorm room number:</label><br>
                  <input name="dorm" placeholder="Dorm Number"><br>
                  <!-- <label for="item">The item(s) you are requesting:</label><br>
                  <input name="item" placeholder="Item(s) Requesting"> -->
                  <br> 
                  <fieldset>
                    <legend>Item(s) Requesting:</legend>
                    
                      <input type="checkbox" id="mask" name="mask" value="Mask" />
                    
                      <label for="mask"> Mask</label><br>
                    
                      <input type="checkbox" id="food" name="food" value="Food" />

                      <label for="food"> Food</label><br>
                    
                      <input type="checkbox" id="rapids" name="rapids" value="Rapid Test" />
                    
                      <label for="rapids"> Rapid Test</label><br>
                    <br>
                  </fieldset>
                  
                </div>
                <br>
                <input type="submit" value="Submit"> 
              </form>
              <br>
            </div>
          </div>
          
          <h2>
            About Us
          </h2>
          <p>
            This is the <strong>COVID Mutual Aid</strong> project. Our aim is to increase students' access to resources 
            that would help reduce the risk of COVID-19 on campus, and to support students who test positive for COVID-19. These resources include but aren't limited to masks, rapid tests and an option to get food delivered to you. 
          </p> 
          <!-- ADD BUTTON HERE -->
          
          <!-- Once you've added the button from the readme, click it in the page -->
          <!-- Check out the function in script.js to see how it works -->
        </div>
      </div>
    </div>
    
    <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
    <footer class="footer">
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
